{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ServiceNow simulator</title>
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{% static '/assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                   <!-- Navbar-->
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                        <div class="container px-5">
                            <a class="navbar-brand text-white" href="{% url 'index' %}">ServiceNow simulator</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Join
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up" aria-labelledby="navbarDropdownPages" >
                                            <div class="row g-0">
                                                <div class="col-lg-4 p-lg-5">
                                                    <h6 class="dropdown-header text-primary">Coordinator</h6>
                                                    <a class="dropdown-item" href="{% url 'new_account' %}">Create an account</a>
                                                    <a class="dropdown-item" href="{% url 'sign_in' %}">Sign in</a>
                                                    <div class="dropdown-divider border-0"></div>
                                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                                </div>
                                                <div class="col-lg-4 p-lg-5">
                                                    <h6 class="dropdown-header text-primary">Develop this project</h6>
                                                    <a class="dropdown-item" href="https://github.com/wojtekw0703/ServiceNow-simulator">Contribute</a>
                                                    <a class="dropdown-item" href="#">Share your idea</a>
                                                    <div class="dropdown-divider border-0"></div>
                                                    <div class="dropdown-divider border-0 d-lg-none"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li> <!-- autoscrolling to below section about what is Service Desk Training Center-->
                                    <li class="nav-item"><a class="nav-link" href="{% url 'support' %}">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">About</h1>
                                        <p class="page-header-ui-text"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-10">

{#                                    <hr class="my-5" />#}
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white me-2"><i data-feather="arrow-right"></i></div>
                                        This is what we do
                                    </h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>
                                    <div class="card bg-light shadow-none">
                                        <div class="card-body">
                                            <h6>Questions you should ask yourself</h6>
                                            <ul class="mb-0">
                                                <li class="text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta fugiat eveniet, dignissimos facere quisquam, odit suscipit aliquid magnam,?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white me-2"><i data-feather="arrow-right"></i></div>
                                        Move with urgency and focus
                                    </h4>
                                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem suscipit veniam excepturi soluta ducimus tempora quasi, itaque odit libero, eos in dolore natus, ipsam consectetur voluptate nulla provident aliquam?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laboriosam consequuntur iusto vero consequatur beatae, tempore voluptatem rerum sit facilis aut ea optio eaque quaerat, libero recusandae soluta molestiae veniam.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ut! Ut ipsum debitis numquam. Perferendis, laudantium! Itaque ab velit eaque magnam quis quam libero saepe nobis culpa. Vitae, dignissimos iusto.</p>
                                    <div class="card bg-light shadow-none">
                                        <div class="card-body">
                                            <h6>Questions you should ask yourself</h6>
                                            <ul class="mb-0">
                                                <li class="text-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit?</li>
                                                <li class="text-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas nobis illum nam?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="my-5" />
                                    <h4>Feedback</h4>
                                    <p class="lead">
                                        In the spirit of thinking rigorously, we’d love your open and honest feedback on this guide.
                                        <a href="#!">Let us know what you think</a>
                                        .
                                    </p>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum culpa optio nihil id distinctio excepturi dignissimos, iure totam minima, natus ducimus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright &copy; ServiceNow simulator <script>document.write(/\d{4}/.exec(Date())[0])</script></div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
{#                        </div>#}
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static '/js/scripts.js' %}"></script>
    </body>
</html>
