{% extends 'employee/base-employee.html' %}
{% load static %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-5">
                        <!-- Custom page header alternative example-->
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="me-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Dashboard</h1>
                                <div class="small">
                                    <span class="fw-500 text-primary"><script>
                                    const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                                    const d = new Date();
                                    let day = weekday[d.getDay()];
                                    document.write(day);
                                    </script>,</span>
                                   <script>
                                       date = new Date().toLocaleDateString();
                                       document.write(date);
                                   </script>
                                </div>
                            </div>
                        </div>
                        <!-- Illustration dashboard card example-->
                        <div class="card card-waves mb-4 mt-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col">
                                        {% if user.is_authenticated %}
                                        <h2 class="text-primary">Welcome, {{ user.name }}</h2>
                                        <p class="text-gray-700">Let's study something new. Process ticket examples and browse your progress</p>
                                        {% endif %}
                                        <a class="btn btn-primary p-3" href="{% url 'employee_simulator' %}">
                                            Get Started
                                            <i class="ms-1" data-feather="arrow-right"></i>
                                        </a>
                                    </div>
                                    <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="{% static 'assets/img/illustrations/statistics.svg' %}" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 1-->
                                <div class="card border-start-lg border-start-primary h-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-primary mb-1">Shared ticket examples</div>
                                                <div class="h5">56</div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-solid fa-tv fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 2-->
                                <div class="card border-start-lg border-start-secondary h-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-secondary mb-1">Members in Your Team</div>
                                                <div class="h5">3</div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-solid fa-people-group fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 3-->
                                <div class="card border-start-lg border-start-success h-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-success mb-1">Tickets completion</div>
                                                <div class="h5">4</div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-solid fa-check fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 4-->
                                <div class="card border-start-lg border-start-info h-200">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-info mb-1"> Member of</div>
                                                <div class="h5">Bridge BE Team</div>
                                            </div>
                                            <div class="ms-2"><i class="fas fa-solid fa-user-group fa-2x text-gray-200"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock %}
