{% extends 'coordinator/base-coordinator.html'%}
{% load static %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-start pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="users"></i></div>
                                            Groups & Members
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <button class="btn btn-sm btn-light text-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewUser">
                                            <i class="me-1" data-feather="plus"></i>
                                            Add User
                                        </button>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <button class="btn btn-sm btn-light text-primary" type="button" data-bs-toggle="modal" data-bs-target="#createGroupModal">
                                            <i class="me-1" data-feather="plus"></i>
                                            Create New Group
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                   <div class="container-fluid px-4">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Groups</th>
                                            <th>Joined Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Groups</th>
                                            <th>Joined Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
{#                                                    <div class="avatar me-2"><img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-1.png" /></div>#}
                                                    Tiger Nixon
                                                </div>
                                            </td>
                                            <td>tiger@email.com</td>
                                            <td>
                                                <span class="badge bg-green-soft text-green">Sales</span>
                                                <span class="badge bg-blue-soft text-blue">Developers</span>
                                                <span class="badge bg-red-soft text-red">Marketing</span>
                                                <span class="badge bg-purple-soft text-purple">Managers</span>
                                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                                            </td>
                                            <td>20 Jun 2021</td>
                                            <td>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html"><i data-feather="edit"></i></a>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!"><i data-feather="trash-2"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
{#                                                    <div class="avatar me-2"><img class="avatar-img img-fluid" src="assets/img/illustrations/profiles/profile-2.png" /></div>#}
                                                    Garrett Winters
                                                </div>
                                            </td>
                                            <td>gwinterse@email.com</td>
                                            <td>
                                                <span class="badge bg-green-soft text-green">Sales</span>
                                                <span class="badge bg-blue-soft text-blue">Developers</span>
                                                <span class="badge bg-red-soft text-red">Marketing</span>
                                                <span class="badge bg-purple-soft text-purple">Managers</span>
                                                <span class="badge bg-yellow-soft text-yellow">Customer</span>
                                            </td>
                                            <td>20 Jun 2021</td>
                                            <td>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="user-management-edit-user.html"><i data-feather="edit"></i></a>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!"><i data-feather="trash-2"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Create group modal-->
                    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createGroupModalLabel">Create New Group</h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-0">
                                            <label class="mb-1 small text-muted" for="formGroupName">Group Name</label>
                                            <input class="form-control" id="formGroupName" type="text" placeholder="Enter group name..." />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary-soft text-primary" type="button">Create New Group</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createGroupModalLabel">Add New User</h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-0">
                                            <label class="mb-1 small text-muted" for="formUserEmailName">User Email</label>
                                            <input class="form-control" id="formUserEmail" type="text" placeholder="Enter user email..." />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary-soft text-primary" type="button">Add User</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit group modal-->
                    <div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="editGroupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editGroupModalLabel">Edit Group</h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-0">
                                            <label class="mb-1 small text-muted" for="formGroupName">Group Name</label>
                                            <input class="form-control" id="formGroupName" type="text" placeholder="Enter group name..." value="Sales" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary-soft text-primary" type="button">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
       {% endblock %}
